.spells-container {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}

::-webkit-scrollbar {
    width: 20px;
}