.spell-info-box {
    padding: 10px;
    margin: 5px;
    background-color: #5c5554 !important;
}

.spell-info-box:hover {
    background-color: whitesmoke;
}

.more-button {
    cursor: pointer;
}

.fav-button-wrapper {
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
}